:root {
    --background: #f0fff2;
    --primary: #326b31;
    --secondary: #6abb5f;
    --black: #000000;
    --white: #FFFFFF;
    --font-header: Georgia, 'Times New Roman', Times, serif;
    --font-body: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    background-color: var(--background);
    font-family: var(--font-body);
}

#hero {
    background-image: url('./images/FoggyForest-3069x1080.webp');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    padding: 1rem;
}


h1 {
    font-family: var(--font-header);
    font-size: 4rem;
    text-align: center;
    margin-top: 15rem;
    color: var(--primary);
}

h2 {
    color: var(--primary);
    font-family: var(--font-header);
    font-size: 2rem;
}

main {
    padding: 0 1rem 0 1rem;
}

a {
    color: var(--primary);
}

a:hover, a:active {
    color: var(--secondary);
}

a:visited {
    color: var(--black);
}


figcaption {
    font-style: italic;
    font-size: smaller;
}

hr {
    border: 0;
    border-top: 2px dotted var(--primary);
}

footer {
    padding: 3rem 1rem;
    background-color: var(--primary);
    color: var(--white);
    text-align: center;
}